{% extends 'base.html' %}


{% block content %}
<div class="row py-2">
  <div class="col">
    <h1>Authors</h1>
  </div>
</div>
<div class="row py-2">
  <div class="col">
  <a href="{% url 'books:author-add' %} " class="btn btn-primary float-right">Add</a>
  </div>
</div>
<div class="row py-2">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <td>{{ obj.name }}</td>
            <td>
              {% if object.image %}
                {{object.get_thumb}}
              {% endif %}
            </td>
            <td><a href="{% url 'books:author-update' obj.pk  %}" class="btn btn-warning">Update</a> <a href="{% url 'books:author-delete' obj.pk  %}" class="btn btn-danger">delete</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" style="text-align:center;">No authors yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



{% endblock %}
