{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <div class="row">
          <div class="col-12">
            <input class="btn btn-primary float-right" type="submit" value="Save">
            <input class="btn btn-primary" name="continue" type="submit" value="Save and continue editing">
            {% if form.instance.pk %}
            <a class="btn btn-danger" href="{% url 'books:author-delete' form.instance.pk %}">Delete</a>
            {% endif %}
          </div>
        </div>
    </form>
    </div>
  </div>
  {% if form.instance.image %}
<hr>
  <div class="row">
    <h3>Currently image thumbnail</h3>
    <div class="col-12">

      {{form.instance.get_thumb}}

    </div>
  </div>
  {% endif %}

{% endblock %}
