{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-12">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <div class="row">
          <div class="col-12">
            <input class="btn btn-primary float-right" type="submit" value="Save">
            <input class="btn btn-primary" name="continue" type="submit" value="Save and continue editing">
            {% if form.instance.pk %}
            <a class="btn btn-danger" href="{% url 'books:book-delete' form.instance.pk %}">Delete</a>
            {% endif %}
          </div>
        </div>
    </form>
    </div>
  </div>


{% endblock %}
