{% extends 'base.html' %}


{% block content %}
<form method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
    {{form.errors}}
    {{form.non_form_errors}}
    {{ form.as_p }}
    {{ formset.management_form }}
    {{formset.non_form_errors}}
    {% for form in formset %}
        <div class="form-row formset_row-{{ formset.prefix }} py-2">
          {% for hidden in form.hidden_fields %}
              {{ hidden }}
          {% endfor %}
            <div class="col-2">
                <label for="{{form.author.id_for_label}}">{{form.author.label}}</label>
            </div>
            <div class="col-6">
              {{form.author}}
              {% if form.author.help_text %}
              <small id="{{form.author.id_for_label}}" class="form-text text-muted">{{form.author.help_text}}</small>
              {% endif %}
              {{ form.author.errors }}
            </div>
            <div class="col-2">
              {% if formset.can_delete %}
                  {{ form.DELETE }}
              {% endif %}
            </div>
        </div>
      {% endfor %}
      <script type="text/javascript">
          $('.formset_row-{{ formset.prefix }}').formset({
              addText: 'add another',
              deleteText: 'remove',
              prefix: '{{ formset.prefix }}',
              deleteCssClass: 'btn btn-danger',
              addCssClass: 'btn btn-primary'
          });
      </script>
      <div class="row py-2">
      <div class="col">
        <input type="submit" value="save" class="btn btn-primary float-right">
      </div>
    </div>
</form>
{% endblock %}
