{% extends 'base.html' %}


{% block content %}
<div class="row py-2">
  <div class="col">
    <h1>Categories</h1>
  </div>
</div>
<div class="row py-2">
  <div class="col">
  <a href="{% url 'books:category-add' %} " class="btn btn-primary float-right">Add</a>
  </div>
</div>
<div class="row py-2">
  <div class="col">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in object_list %}
          <tr>
            <td>{{ obj.name }}</td>
            <td><a href="{% url 'books:category-update' obj.pk  %}" class="btn btn-warning">Update</a> <a href="{% url 'books:category-delete' obj.pk  %}" class="btn btn-danger">delete</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2" style="text-align:center;">No categories yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
